asgiref
beautifulsoup4
coverage
Django
django-bootstrap5
fontawesomefree
gunicorn
parameterized
pytz
soupsieve
sqlparse
pylama
djlint
pylint
pylint-django
pytest-django
pytest-cov
Pillow
ruff
dj-database-url
whitenoise