{% extends "base_generic.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
    Welcome {{ user }}
{% endblock title %}
{% block content %}
    <div class="row align-items-md-stretch py-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="text-center mb-4">Edit Profile</h1>
            <form action="{% url 'user_profile:profile_update' %}"
                  method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary justify-center">Update</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}
